<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <title>Index</title>
</head>
<body>
<h3>Products</h3>
<p>
    <a th:href="@{/product/create}">
        Add new customer
    </a>
</p>
<form th:action="@{/product/search}" method="post" th:object="${searchString}">
    <div>
        <input type="text" id="searchString" name="searchString" style="width: 30%; margin-right: 30px; margin-bottom: 30px">
        <button type="submit">Search</button>
    </div>
</form>
<table id="products">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${products}">
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getDescription()}"></td>
        <td th:text="${row.getPrice()}"></td>
        <td><a th:href="@{/product/{id}/edit(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/product/{id}/delete(id=${row.getId()})}">delete</a></td>
        <td><a th:href="@{/product/{id}/view(id=${row.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>