<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Home</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<h1>What do you want to do</h1>
<div>
    <a href="#">Buy Egg from store</a>
    <a href="#">Buy Egg from player</a>
    <a href="#">Sell Egg</a>
</div>
<div>
    <a href="#">Buy Hero from store</a>
    <a href="#">Buy Hero from player</a>
    <a href="#">Sell Hero</a>
</div>
<div>
    <a href="#">Bread Egg</a>
</div>
</body>
</html>